@page
@model Kiosk.Pages.Admin.LoginModel
@{
    ViewData["Title"] = "Logowanie Administratora";
    ViewData["PageHeaderTitle"] = "Logowanie Administratora";
}

<h2>Logowanie Administratora</h2>

<form method="post">
    <div>
        <label>Login</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label>Hasło</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Zaloguj</button>
    <p style="color:red">@Model.ErrorMessage</p>
</form>
