@page
@model Kiosk.Pages.LockScreenModel
<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "Home page";
}

<div class="lockscreen-page">
    <h1>Witamy w Kiosku</h1>
    <button onclick="location.href='OrderType'">Start Order</button>
</div>
