@page
@model Kiosk.Pages.LockScreenModel
<link rel="stylesheet" href="~/css/site.css" />

<div class="lockscreen-page">
    <h1>Witamy w Kiosku</h1>
    <button onclick="location.href='Menu'">Start Order</button>
</div>
