@page
@model Kiosk.Pages.LockScreenModel
<link rel="stylesheet" href="~/css/site.css" />

<div class="lockscreen-page"
     style="display:flex; justify-content:center; align-items:center; height:100vh;">

    <button onclick="location.href='Menu'"
            style="
                font-size: 48px;
                padding: 30px 60px;
                border-radius: 20px;
                cursor: pointer;
                border: none;
                background-color: #ffcc00;
                font-weight: bold;
            ">
        Zacznij zamówienie
    </button>

</div>